<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="1087083766585-vu4fdbb0s64drrs64atlseva4o1q9qjn.apps.googleusercontent.com">
    <title>Categories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.32.4/sweetalert2.all.js"></script>

<body>
      
    {% include '_navbar.html' %}
     <div class="container">
         <br>
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
           <ul class=flashes>
           {% for category, message in messages %}
             <div class="alert alert-{{category}}" role="alert">
                {{message}}
                  </div>
           {% endfor %}
           </ul>
         {% endif %}
       {% endwith %}
           
         <div class="jumbotron mt-3" >
            {% block body %}{% endblock %}
        </div>
     </div>
</body>
</html>