{% extends 'layout.html' %}

{% block body %}

<h2> Edit An Item </h2>
<br>
<form method="POST" action="/item/{{item.id}}/edit/apply">
  <div class="form-group">
    <label for="i_name">Name</label>
    <input type="text" name="i_name" class="form-control" id="i_name" value="{{item.name}}">
  </div>
  <div class="form-group">
        <label for="i_description">Description</label>
        <input type="text" name="i_description" class="form-control" id="i_description" value="{{item.description}}">
  </div>
  <div class="form-group">
        <label for="i_category_id">Category</label>
        <select class="form-control" id="i_category_id" name="i_category_id">
            {% for category in categories %}
            <option value="{{category.id}}"
            {% if item.category_id == category.id %}
                selected
            {% endif%}
            >{{category.name}}</option>
            {% endfor %}

         
        </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}